/* Basic styles */
*{margin:0;padding:0}
body{line-height:1}
img,fieldset{border:0}
img{vertical-align:bottom}
a,a:hover{cursor:pointer;text-decoration:none;outline:none}
a:hover{border:0} /* IE fix */
ul{list-style:none}
option{padding:0 .5em 0 1px}
table{border-collapse:collapse;border-spacing:0}
td,th{vertical-align:top;text-align:left;font-weight:normal}
address{font-style:normal}
h1,h2,h3,h4,h5,h6{font-size:1.2em;font-weight:bold}
.clear{clear:both}

/* fonts */
body,input,textarea,select,td{color:#a6a;font-size:12px;font-family:"Lucida Sans Unicode",helvetica,verdana,arial,sans-serif;background:#eee;}
body{background:#000;}
#wrapper{width:800px;height:auto;margin:0 auto;position:relative;}
#header{width:800px;height:170px;}
#menu {font-size:16px;margin:25px 0;}
#menu a{color:#d8d8d8;}
#menu a:hover{color:#d0f;}
#menu ul {float:right;}
#menu li{float:left;margin:0 20px;}
#main{background:url(/images/main_bg.png) no-repeat;width:654px;height:567px;padding:15px 73px 48PX;line-height:1.3em;}
#main #sidebar {width:220px;margin-right:10px;float:left;}
#main #sidebar block{border:1px solid #ddf;}
#main #sidebar ul{text-align:center;margin-top:10px;}
#main #sidebar li{margin:5px;}
#main #sidebar img{padding:5px;border:1px solid #ddf;}
#main #content {padding:20px;overflow:hidden;float:left;line-height:1.5em;height:440px;width:613px;}
#main #content a{color:#d8d8d8;}
#main #content a:hover{color:#d0f;}
#main .page {margin:4px 0;color:#a6a;font-size:13px;font-family:"Lucida Sans Unicode",helvetica,verdana,arial,sans-serif;height:100%;width:100%;}
#main #sidebar p{margin:3px 0 5px;}
#main #content p{margin:3px 0 5px;}
#footer{background:url(/images/footer_bg.png) no-repeat;width:880px;height:60px;padding:0 20px 20px 20px;}
