<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//PL" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='pl' lang='pl'>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><%= @meta_tag.title -%></title>
<meta name="description" content="<%= @meta_tag.description -%>" />
<meta name="keywords" content="<%= @meta_tag.keywords -%>" />
<%= javascript_include_tag 'mootools-1.2.1-core-yc' %>
<%= javascript_include_tag 'mootools-1.2-more' %>
<%= javascript_include_tag 'jd.gallery' %>
<%= javascript_include_tag 'jd.gallery.transitions' %>
<%= javascript_include_tag 'ReMooz' %>

<% #  stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'jd.gallery' %>
<%= stylesheet_link_tag 'ReMooz' %>
<%= stylesheet_link_tag 'jScrollPane' %>
</head>

<body>
  <div id="wrapper">
	<div id="header">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" name="saxonband" width="800" height="170" align="middle" id="saxonband">
      <param name="allowScriptAccess" value="sameDomain" />
      <param name="movie" value="/images/saxonband.swf" />
      <param name="quality" value="high" />
      <param name="bgcolor" value="#000000" />
      <embed src="/images/saxonband.swf" quality="high" bgcolor="#000000" width="800" height="170" name="saxonband" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
    </object>
    </div>
	<div id="main">
      <div id="menu">
        <ul>
          <% Subpage.find(:all, :conditions => "parent_id is null", :order => 'page_order').each do |subpage| %>
			<li><%= link_to subpage.name, show_page_url(:url_name => subpage.url_name) -%></li>
          <% end %>
		</ul>
        <div class="clear"></div>
      </div>
      <div id="content">
        <%= yield -%>
      </div>      
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>
